# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# macOS system files
.DS_Store

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro bundler cache
metro-cache/
# React Native packager cache
packager-cache-*

# Misc
.env
.env.*
*.log

# VSCode
.vscode/
